.flex{
    font-size:xx-large;
    text-align: center;
}
.h-40{
    border-radius: 10rem;
    height: 14rem;
    width: auto;
}
#facebook{
    margin: 0.5rem;
}
#twitter{
    margin: 0.5rem;
}
#instagram{
    margin: 0.5rem;

}
#github{
    margin: 0.5rem;
}
.col{
    display: flex;
}
.card-img-top{
    height: 20rem;
    width:auto;
}
.bd-placeholder-img{
    display: flex;
    align-items: stretch;
}
.col{
    display: flex;
    justify-content: stretch;
}
.home-img{
    display: flex;
    flex-direction: row;
    height: 30rem;
    width: 40%;
}
